pandas>=1.1.3
numpy>=1.19.2
toml>=0.10.1
matplotlib>=3.3.2
scipy>=1.5.2
xarray>=0.18.2
holoviews>=1.14.4
cartopy>=0.18.0
tqdm>=4.50.2
joblib>=0.17.0
rasterio>=1.2.6
pysolar>=0.10
geopy>=2.2.0
sphinx_rtd_theme>=1.0.0
pylim>=0.6.0
cmasher>=1.6.3
intake>=0.6.5
MetPy>=1.3.1
setuptools>=58.0.4
Shapely>=1.8.0
requests>=2.25.1
PyYAML>=5.4.1