name: docs_pages_workflow

# execute this workflow automatically when we push to the docs directory on master
on:
  push:
    branches:
      - main
    paths:
      - docs/**

jobs:

  build_docs_job:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: setup-conda
      uses: s-weigand/setup-conda@v1.2.3
      with:
        python-version: '3.10'

    - name: Install Dependencies
      run: |
        sudo apt-get update -y
        sudo apt-get -y install git rsync python3-sphinx python3-sphinx-rtd-theme python3-pip python3-git proj-bin libgeos++-dev
        python -m pip install --upgrade pip
        conda install -y -c conda-forge cartopy
        python -m pip install -r requirements.txt

    - name: Execute script to build our documentation and update pages
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: "bash docs/build_docs.sh"
      shell: bash
